[submodule "terms/server/externals/tinymce"]
	path = terms/server/externals/tinymce
	url = git://github.com/tinymce/tinymce.git
[submodule "terms/server/static/skeleton"]
	path = terms/server/static/skeleton
	url = git://github.com/enriquepablo/Skeleton.git
