<div class="clearfix">
  <div class="five columns">
    <h3>${data.name}</h3>
    <p>${data.description}</p>
  </div>
  <%
  resp = ask_kb(config, '(located Project1, in %s)?' % name)
  resp = json.loads(resp)
  %>
  <div class="five columns">
    <h3>Projects</h3>
      <ul>
      % for project in resp:
        <% fact = '(view %s, what %s)' % (user, project['Project1']) %>
        <li>
          <a href="javascript: window.kb.tellFact('${fact}')">
            ${project['Project1']}
          </a>
        </li>
      % endfor
      </ul>
  </div>
  <%
  resp = ask_kb(config, '(belongs Person1, where %s)?' % name)
  resp = json.loads(resp)
  %>
  <div class="five columns">
    <h3>Members</h3>
      <ul>
      % for member in resp:
        <li>${member['Person1']}</li>
      % endfor
      </ul>
  </div>
</div>
