<div class="clearfix">
  <div class="five columns">
    <h3>${data.name}</h3>
    <p>${data.description}</p>
  </div>
  <%
  resp = ask_kb(config, '(located Folder1, in %s)?' % name)
  resp = json.loads(resp)
  %>
  <div class="five columns">
    <h3>Folders</h3>
    % if resp == 'false':
      <p>No folders in this project</p>
    % else:
      <ul>
      % for folder in resp:
        <% fact = '(list-folder %s, what %s)' % (user, folder['Folder1']) %>
        <li>
          <a href="javascript: window.kb.tellFact('${fact}')">
            ${folder['Folder1']}
          </a>
        </li>
      % endfor
      </ul>
    % endif
  </div>
  <%
  resp = ask_kb(config, '(located Task1, in %s); (has-status Task1, which public)?' % name)
  resp = json.loads(resp)
  %>
  <div class="five columns">
    <h3>Pending tasks</h3>
    % if resp == 'false':
      <p>No open tasks in this project</p>
    % else:
      <ul>
      % for task in resp:
        <% fact = '(view %s, what %s)' % (user, task['Task1']) %>
        <li>
          <a href="javascript: window.kb.tellFact('${fact}')">
            ${task['Task1']}
          </a>
        </li>
      % endfor
      </ul>
    % endif
  </div>
</div>
