
.hidden {
    display: none;
}

body {
    background-color: #f2f59f;
}


body, button, select {
    font-family: 'Inconsolata', serif;
}

button, select {
    font-size: 1.1em;
}

div#terms {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


span.subject {
    margin-right: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    color: #113399;
}

select.verb {
    font-weight: 600;
    color: #773311;
}

span.label {
    margin-right: 0.4em;
    margin-left: 0.4em;
    color: #666;
}

span.Mod > span.value > select {
    font-weight: 600;
    color: #117733;
}


div.anchor {
    background-color: #d0daee;
    width: 300px;
    height: auto;
    padding: 8px;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    border-radius: 2px;
    margin: 2px;
}

div.anchor:hover {
    background-color: #bfc9dd;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
}

div.divtitle {
    text-align: left;
}

span.title {
    width: 90px;
}

div.divcloser {
    float: right;
    text-align: right;
    vertical-align: top;
    min-width: 1.2em;
}

span.closer {
    display:inline-block;
    text-align: center;
    font-weight: 800;
    cursor: default; 
    background-color: #aaaaf0; 
    color: rgb(251, 199, 20); 
    border-radius: 11px;
    width: 1.1em;
    text-shadow: 1px 1px #5555a0;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #5555a0;
    border-bottom: 1px solid #5555a0;
}

.portlet-background {
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: #dddde6;
}

.portlet-display {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    width: auto;
    height: 100%;
    z-index: 10000;
    background-color: #FAFFDF;
    color: #050520;
    padding: 15px;
}

.portlet-closer { 
    cursor: default; 
    position: fixed; 
    top: 45px; 
    right: 45px; 
    width: 1.1em;
    text-align: center; 
    background-color: #aaaaf0; 
    color: rgb(251, 199, 20); 
    font-weight: 800;
    border-radius: 11px;
    text-shadow: 1px 1px #5555a0;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #5555a0;
    border-bottom: 1px solid #5555a0;
    z-index: 10000;
} 
 
.portlet-closer:hover, span.closer:hover {
    color: #F05555; 
    text-shadow: -1px -1px #ffffff;
    border-left: 1px solid #5555a0;
    border-top: 1px solid #5555a0;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
} 
